.app-container {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #222222;
}

.sidebar-container {
  border-right: 1px solid #2E2E2E;
  width: 13%;
  height: 100%;
  padding: 10px;
  background-color: #222222;
  flex-direction: column;
}

.main-container {
  flex: 1;
  width: 100%;
}
