.app-container {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.sidebar-container {
  border: 1px solid #E4E4E4;
  width: 13%;
  height: 100%;
  padding: 10px;
  background-color: #ffffff;
}
.header-main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header-container {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.main-container {
  border: 1px solid #E4E4E4;
  flex: 1;
  width: 100%;
}
