<div class="user-information">
    <div style="display: flex; align-items: center; padding: 10px;">
  <img 
    
    [src]="'https://api.dicebear.com/7.x/personas/svg?seed=' + name"
    style="width: 50px; height: 50px; border-radius: 50%; background-color: cyan;"
  >
  <span style="margin-left: 10px;">{{name}}</span>
  <i 
    (click)="logout()"
    class="fa-solid fa-right-from-bracket"
    style="color: red; margin-left: auto; cursor: pointer;"
  ></i>
</div>
</div>
<nav class="sidebar-menu">
  <table> 
    <tr routerLink="Dashboard"
        routerLinkActive="active-link">
      <td>
        <span class="icon"><i class="fa-solid fa-chart-line"></i></span>
      </td>
      <td>
        <span class="text">Dashboard</span>
      </td>
    </tr>
    <tr routerLink="Factures" routerLinkActive="active-link">
      <td>
        <span class="icon"><i class="fa-solid fa-file-invoice"></i></span>
      </td>
      <td>
        <span class="text">Factures</span>
      </td>
    </tr>
    <tr routerLink="Clients" routerLinkActive="active-link">
      <td>
        <span class="icon"><i class="fa-solid fa-people-group"></i></span>
      </td>
      <td>
        <span class="text">Clients</span>
      </td>
    </tr>

    <tr routerLink="Courses" routerLinkActive="active-link">
      <td>
        <span class="icon"><i class="fa-solid fa-book"></i></span>
      </td>
      <td>
        <span class="text">My Courses</span>
      </td>
    </tr>


  </table>
</nav>
<div class="bottom-settings">
    <div class="dark-mode-card">
      <div class="switch-label">
        <i class="fa-solid fa-moon"></i>
        <span>Dark Mode</span>
      </div>
      <label class="switch-container">
        <input type="checkbox" checked>
        <span class="slider round"></span>
      </label>
    </div>
  </div>

