<nav class="sidebar-menu">

  
  <div class="user-profile-card">
    <div class="user-avatar-wrapper">
      <img
        [src]="'https://api.dicebear.com/7.x/personas/svg?seed=' + name"
        [alt]="name + ' avatar'"
      >
      <span class="avatar-online-dot"></span>
    </div>
    <div class="user-details">
      <span class="user-name">Hello {{ name }}</span>
      <span class="user-role">{{ role }}</span>
    </div>
    <div class="logout-btn" (click)="logout()" title="Se déconnecter">
      <i class="fa-solid fa-right-from-bracket"></i>
    </div>
  </div>

  
  <div class="sidebar-nav">
    <table style="width: 95%; font-size: 150%;">
      <tr routerLink="Dashboard" routerLinkActive="active-link">
        <td>
          <span class="icon"><i class="fa-solid fa-chart-line"></i></span>
        </td>
        <td>
          <span class="text">Tableau de Bord</span>
        </td>
      </tr>
      <tr routerLink="Factures" routerLinkActive="active-link">
        <td>
          <span class="icon"><i class="fa-solid fa-file-invoice"></i></span>
        </td>
        <td>
          <span class="text">Factures</span>
        </td>
      </tr>
      <tr routerLink="Clients" routerLinkActive="active-link">
        <td>
          <span class="icon"><i class="fa-solid fa-people-group"></i></span>
        </td>
        <td>
          <span class="text">Clients</span>
        </td>
      </tr>
    </table>
  </div>

</nav>