
.sidebar-menu {
    width: 220px;
    height: 100vh;
    padding-top: 80px;
    margin-left: 10px;
    position: fixed;
    background-color: #222222;
}

.sidebar-menu table {
  margin-top: 50%;
  width: 205px;
  border-collapse: separate;
  border-spacing: 0 20px;
}

.sidebar-menu tr {
  cursor: pointer;
}

.sidebar-menu td {
  padding: 15px;
  font-family: 'Poppins-light', sans-serif;
  color: #F5F5F5;
  transition: background-color 0.2s, color 0.2s;
}

.sidebar-menu i {
  color: #F5F5F5;
  font-size: 20px;
}

.sidebar-menu tr:hover td {
  background-color: #2563EB;
  color: #F5F5F5;
}

.sidebar-menu tr:hover i {
  color: #F5F5F5;
}

.sidebar-menu tr.active-link td {
  background-color: #2563EB;
  color: #F5F5F5;
}

.sidebar-menu tr.active-link i {
  color: #F5F5F5;
}

.sidebar-menu tr td:first-child {
  align-items: center;
  justify-content: center;
  width: 10px;
  border-radius: 10px 0 0 10px;
}

.sidebar-menu tr td:last-child {
  border-radius: 0 10px 10px 0;
}

.sidebar-menu .icon {
  margin-right: 12px;
}

.sidebar-menu .text {
  font-size: 20px;
  font-weight: 500;
}

.user-information{
  color: #F5F5F5;
  background-color: #3B3B3B ;
  height: 8%;
  border: #222222;
  border-radius: 15px;
}

