<button class="ajouter" (click)="openClientModalAdd()"><i class="fa-solid fa-plus" style="font-size: 16px;"></i> Ajouter un Client</button>
@if (modalservice.clientModal) {
  <div class="form-card-container">
    <div class="form-header">
      <h3><i class="fas fa-file-invoice"></i> Détails de la Facture</h3>
    </div>
    <div class="form-grid">
      <div class="form-group">
        <label>Name</label>
        @if (modalservice.clientType == "edit"){
        <input type="text" [(ngModel)]="clientEdit.name">
        }@else{
          <input type="text" [(ngModel)]="clientAdd.name" placeholder="Enter The Name">
        }
      </div>
      <div class="form-group">
        <label>Email</label>
        @if (modalservice.clientType == "edit"){
        <input type="text" value="" [(ngModel)]="clientEdit.email">
        }@else{
          <input type="text" [(ngModel)]="clientAdd.email" placeholder="Enter The Email">
        }
      </div>
      <div class="form-group">
        <label>Address</label>
        @if (modalservice.clientType == "edit"){
          <input type="text" [(ngModel)]="clientEdit.address">
        }@else{
          <input type="text" [(ngModel)]="clientAdd.address" placeholder="Enter The Address">
        }
      </div>
      <div class="form-group">
        <label>Telephone</label>
        @if (modalservice.clientType == "edit"){
          <input type="text" [(ngModel)]="clientEdit.telephone">
        }@else{
          <input type="text" [(ngModel)]="clientAdd.telephone" placeholder="Enter The Telephone Number">
        }
      </div>
    </div>
    <div class="form-actions">
      @if (modalservice.clientType == "edit"){
        <button type="button" class="submit-btn" (click)="edit()">
        <i class="fas fa-check"></i> Confirmer
      </button>
      }@else{
        <button type="button" class="submit-btn" (click)="add()">
        <i class="fas fa-check"></i> Confirmer
      </button>
      }
      <button type="button" class="close-btn" (click)="close()">
        <i class="fas fa-times"></i> Annuler
      </button>
    </div>
  </div>
}

<div class="table-container">
<table class="custom-table">
    <thead>
      <tr>
        <th>#</th>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Telephone</th>
        <th>Adress</th>
        <th>Modifier</th>
        <th>Supprimer</th>
      </tr>
    </thead>

    <tbody>
      @for (client of clients; track client.id) {
        <tr>
          <td>{{$index+1}}</td>
          <th>{{client.id}}</th>
          <td>{{client.name}}</td>
          <td>{{client.email}}</td>
          <td>{{client.telephone}}</td>
          <td>{{client.address}}</td>
          <td class="edit-btn" (click)="openClientModalEdit(client)"><i class="fas fa-edit"></i></td>
          <td class="delete-btn" (click)="delete(client)"><i class="fa-regular fa-trash-can"></i></td>
        </tr>
      }
    </tbody>
  </table>
</div>