<div class="modal-overlay" (click)="close()">
  <div class="modal-box" (click)="$event.stopPropagation()">

      <h2>Entrer Les Informations de la Nouvelle Formation:</h2>

        <h2>Entrer Les Informations à Changer:</h2>

    <div class="user-info-box" >
      
    </div>
    <div class="modal-actions">
      <button type="button" class="submit-btn" (click)="ajouter()">Ajouter</button>

        <button type="button" class="submit-btn" (click)="modifier()">Confirmer</button>
      <button type="button" class="close-btn" (click)="close()">Annuler</button>
    </div>

  </div>
</div>
